@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.App {
  text-align: center;
}

.Melody {
  height: 40vmin;
}

.App-header {
  background-color: #ffa5c5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #d76483;
}

p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #ffffff, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 0, 0, 0.445);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

h2 {
  color: hsl(0, 0%, 13%);
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  font-size: 130%;  
  line-height: 1.5;
}

